#main{
    background-color: white;
    height: 70vh;
    width: 80vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius:7%;
}

#inputdiv{
    position: absolute;
    gap: 10%;
    transform: translate(25%, 30%);
    display: grid;
    grid-template-columns: 1fr 1fr;

    
}

#leftdiv{
    position:absolute;
    transform: translate(75% ,40%);
    gap: 10%;
    display: grid;
    grid-template-columns: 1fr;
}

#rightdiv{
    /* position:absolute; */
    transform: translate(60% ,40%);
    gap: 10%;
    display: grid;
    grid-template-columns: 1fr ;
}
#output{
    display: none;
    background-color: white;
    height: 70vh;
    width: 80vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius:7%;
    
}
#total{
    /* position: absolute; */
    border-radius:15px;
    padding: 0px 0px;
    margin: 10px;
    border: solid black 1px;
    text-align: center;
    display: block;
    font-size: 16px;
    display: flex;
    justify-content: center;

}
#tip{
    /* position: absolute; */
    border-radius:15px;
    padding: 0px 0px;
    margin: 10px;
    text-align: center;
    display: block;
    font-size: 16px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border: solid black 1px ;

}
#numberofperson{
    /* position: absolute; */
    border-radius:15px;
    padding: 0px;
    margin: 10px;
    text-align: center;
    display: block;
    font-size: 16px;
    display: flex;
    justify-content: center;
    border: solid black 1px;

}
#button{
    background-color: #4CAF50; 
    margin: 10px;
    width: 100px;
      border: none; 
      color: white; 
      padding: 10px 10px;
      text-align: center;
      display: flex;
      justify-content: center;
      text-decoration: none; /* Remove underline from the text */
      display: block;  /* Throgh this , button comes in next line*/
      font-size: 16px; 
      cursor: pointer; 
      border-radius: 18px;
}

#h11{
    text-align: center;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Moirai One', cursive;
    color: midnightblue;
    background:linear-gradient(to top,white,rgb(205, 205, 7));
    margin: 0;
}
#h12{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-family: 'Moirai One', cursive;
    color: midnightblue;
    background:linear-gradient(to top,white,rgb(25, 233, 25));
    margin: 0;
}

h4{
    position:relative;
}
body{
    background:linear-gradient(to bottom right,rgb(97, 181, 97),rgb(105, 105, 184));
    height: 100vh;
    overflow: hidden; 
}


/*  media queries */

@media (max-width: 600px) {
    #inputdiv {
      width: 80%;
      height: 150px;
    }
  }

  @media (max-width: 600px) {
    #output {
      width: 80%;
      height: 150px;
    }
  }